<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="/Users/tatoussova/IdeaProjects/test_fav_qs"><classes><class name="api.ListQuotesTest"><methods><include name="checkAmountPerPage"/></methods></class></classes></test></suite>